*
{
	border: 0;
	margin: 0;
	padding: 0;	
}
body{
	background: #212121;
	color: #FFF;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 16px;

}
a
{
	color:#F60;
	font-weight: bold;
	text-decoration: none;

}
a:hover
{
	color: #000999;
}
article
{
	text-align: justify;
	width: 90%;

}
h1
{
	text-align: center;
}
img 
{
	display: block;
	margin: 0 auto;
}
ul a
{
	background: #FFF;
	border: 0.1em solid #0.99999;
	border-radius: 5em 1em;
	padding: 7px;
	transition: all 0.5s ease-in;

	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}
ul a:hover
{
background: #000;
border: .1em dashe #f60;
color: #FFF;
transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}
ul li 
{
	margin: 1.5em 1em;
	display: inline-block;
}
ul li:hover
{
	transform: (10deg);
	-ms-transform: (10deg);
	-o-transform: (10deg);
	-webkit-transform: (10deg);
}
footer{
	text-align: center;
	float: center;
}
div#cuerpo{
	margin: auto;
	margin-top: 60px;
	width: 900px;
	height: 300px;
	float: center;
}
div#izquierda{
	width: 900px;
	height: 300px;
	float: left;
}
div#centro{
	width: 900px;
	height: 300px;
	float: left;
}
div#derecho{
	width: 900px;
	height: 300px;
	float: left;
}
